@import
  "../fonts.scss",
  "../variables.scss";

.btn {
  display: block;

  padding-top: 13px;
  padding-bottom: 14px;


  font-size: $basic-font-size;
  line-height: $basic-font-size + 4;

  outline: none;
  cursor: pointer;

  color: #fff;
  text-decoration: none;

  border: 3px solid #fff;
  border-radius: 27px / 50%;

}
