.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

.github-corner svg {
	fill: #000;
}

.github-corner:hover svg,
.enable-focus .github-corner:focus svg {
	fill: $pink;
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(-25deg);
	}
	40%,
	80% {
		transform: rotate(10deg);
	}
}

.github-corner {
	display: none;
}

@media ($desktop-version) {
	.github-corner {
		display: block;
	}
}
