// @import "../variables.scss";
// Здесь размещены стили, относящиеся к стилизации svg-логотипа

/* 1 Цвета и стилизация */

// Логотип на меню, светлый (для темного фона)

.white-logo {
  fill: #fff; //

  & .stars {
    fill: $pink;
    transition: fill 0.2s;
  }

  &:active svg {
    fill: #fff;
    fill-opacity: 0.3;
  }

  & img {
    height: 42px;
  }
}

.hasHover .white-logo {
  &:hover svg {
    fill: $pink;

    & .stars {
      fill: #fff;
    }
  }

  &:active svg {
    fill: #fff;
    fill-opacity: 0.3;
  }
}

.enable-focus .white-logo:focus {
  // отключить кривую обводку по умолчанию, оставить только выделение
  box-shadow: none;

  & svg {
    fill: $pink;

    & .stars {
      fill: #fff;
    }
  }

  &:active svg {
    fill: #fff;
    fill-opacity: 0.3;
  }
}

// Логотип темный (для белого фона)

.black-logo {
  & .glasses {
    fill: $pink;
  }

  & .text {
    fill: #000;
  }

  & .stars {
    fill: #000;
    transition: fill 0.2s;

    &--text {
      fill: $pink;
    }
  }

  &:active svg {
    fill-opacity: 0.3;
  }

  & img {
    height: 42px;
  }
}

.hasHover .black-logo {
  &:hover svg {
    & .glasses {
      fill: #000;
    }

    & .stars {
      fill: $pink;

      &--text {
        fill: #000;
      }
    }
  }

  &:active svg {
    fill-opacity: 0.3;
  }
}

.enable-focus .black-logo:focus {
  box-shadow: none;

  & svg {
    box-shadow: 0 0 0 3px #fff, 0 0 3px 6px $pink;

    & .glasses {
      fill: #000;
    }

    & .stars {
      fill: $pink;

      &--text {
        fill: #000;
      }
    }
  }

  &:active svg {
    fill-opacity: 0.3;
  }
}

/* 2 логика отображения типа лого в засисимости от вьюпорта */
svg .mobile,
svg .tablet,
svg .desktop {
  display: none;
}

@media ($mobile-version) {
  svg .mobile {
    display: block;
  }
}

@media ($tablet-version) {
  svg .tablet {
    display: block;
  }
}

@media ($desktop-version) {
  svg .desktop {
    display: block;
  }
}
