// @import "../variables.scss", "../scaffolding.scss", "../mixins.scss",
// "../fonts.scss";

//    NAVIGATION logo + toggle + menu
//
// Breakpoints: стандартные, но переход на полное меню начинается раньше, поскольку пунктов меню пока мало(!) - при увеличении количества пунктов дольше оставлять в свернутом состоянии
// В планшетной версии меняется только логотип и высота меню.

$tablet-desktop-breakpoint--nav: $tablet-desktop-breakpoint - 220px; // отклонение от стандартного брейкпоинта 160

$main-nav-mobile: $mobile-version;
$main-nav-tablet: "min-width: " + $mobile-tablet-breakpoint +
  ") and (max-width: " + ($tablet-desktop-breakpoint--nav - 1);
$main-nav-desktop: "min-width: " + $tablet-desktop-breakpoint--nav;

/* Мобильная и планшетная версии меню */
// только блоки

@media ($main-nav-mobile), ($main-nav-tablet) {
  .main-nav {
    min-height: 68px;
    position: relative;
  }

  // кнопка-чекбокс

  // стилизованная кнопка. По умолчанию - бургер
  .main-nav__toggler-label {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;

    cursor: pointer;

    // отключает затенение при клике на ios
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  // требуется для визуальных эффектов - меняет цвет, а также
  .main-nav__panel {
    content: "";
    position: absolute;
    top: 0;
    height: 68px;
    width: 100%;
    z-index: 20;
    transition: background-color 0.5s;

    background-color: transparent;
  }

  // чекбокс

  .main-nav__toggler-element {
    // доступно спрятана
    @include visually-hidden;

    &:checked ~ .main-nav__toggler-overlay {
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.7);

      z-index: -1;

      cursor: default;
    }

    // стили при выбранном чекбоксе ("меню открыто")
    &:checked ~ .main-nav__toggler-label .main-nav__toggler-indicator {
      // индикатор в виде крестика
      display: block;
      //visibility: hidden;
      position: absolute;
      background-color: #fff;

      // для ie
      overflow: visible;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0px;
        left: -17px;

        width: 3px;
        height: 34px;

        transform: rotate(135deg);

        background-color: #fff;
        visibility: visible;
        z-index: 10;
      }

      &::after {
        transform: rotate(-135deg);
      }
    }

    // отображает меню
    &:checked ~ .main-nav__list {
      margin-top: 0;
      background-color: $open-menu-color;
    }

    // разрешить попадание в фокус
    &:checked ~ .main-nav__list .main-nav__link {
      display: block;
    }

    // меняет цвет панели при открытом меню
    &:checked ~ .main-nav__panel {
      background-color: $open-menu-color;
      transition: none;
    }

    // изолированные стили при не выбранном чекбосе (меню скрыто)
    &:not(:checked) ~ .main-nav__toggler-label .main-nav__toggler-indicator {
      // индикатор в виде бургера
      position: absolute;

      // данное позиционирование делается для выравнивания
      // с крестиком, чтобы абсолютные координаты всей кнопки были легко кастомизириуемы
      transform: translate(5px, 15px);

      width: 50px;
      height: 4px;
      background-color: #fff;
      box-shadow: 0 10px 0 0 #fff, 0 -10px 0 0 #fff;
    }
  }

  // стили для кнопки, когда кнопка меню в фокусе

  .enable-focus {
    & .main-nav__toggler-element:focus {
      & ~ .main-nav__toggler-label {
        box-shadow: inset 0 0 4px 3px $pink;

        // + выделение как при ховере
        & .main-nav__toggler-indicator {
          background-color: $pink;
          box-shadow: 0 10px 0 0 $pink, 0 -10px 0 0 $pink;

          &::before,
          &::after {
            background-color: $pink;
          }
        }
      }

      // при нажатии выделение как при active
      &:active ~ .main-nav__toggler-label .main-nav__toggler-indicator {
        background-color: #fff;
        box-shadow: 0 10px 0 0 #fff, 0 -10px 0 0 #fff;
        opacity: 0.3;

        &::before,
        &::after {
          background-color: #fff;
          opacity: 0.3;
        }
      }
    }

    & .main-nav__link:focus {
      box-shadow: inset 0 0 4px 3px $pink;

      color: $pink;

      &:active {
        color: $pink-muted;
      }
    }
  }

  // стили взаимодействия для устройств с мышью и для сенсорных

  .noHover .main-nav__toggler-label:active .main-nav__toggler-indicator,
  .hasHover .main-nav__toggler-label:hover .main-nav__toggler-indicator {
    background-color: $pink;
    box-shadow: 0 10px 0 0 $pink, 0 -10px 0 0 $pink;

    &::before,
    &::after {
      background-color: $pink;
    }
  }

  .hasHover .main-nav__toggler-label:active .main-nav__toggler-indicator {
    background-color: #fff;
    box-shadow: 0 10px 0 0 #fff, 0 -10px 0 0 #fff;
    opacity: 0.3;

    &::before,
    &::after {
      background-color: #fff;
      opacity: 0.3;
    }
  }

  // active .main-nav__toggle устройств с сенсорным экраном
  // и hover для курсорных

  .noHover .main-nav__toggle:active span,
  .hasHover .main-nav__toggle:hover span {
    background-color: $pink;
    box-shadow: 0 10px 0 0 $pink, 0 -10px 0 0 $pink;

    &::before,
    &::after {
      background-color: $pink;
    }
  }

  // active .main-nav__toggle для устройств с курсором

  .main-nav__list {
    display: block;

    width: 100%;
    @include ul-reset;

    border-top: 1px solid $open-menu-dark-border;

    // В состоянии открытия меню не видно, оно сверху (анимация выезжания сверху)
    margin-top: -800px;
    transition: margin-top 0.3s, background-color 0.3s;

    box-shadow: 0 0 10px 0 #000;

    z-index: 1; //
  }

  .main-nav__item {
    display: block;
    width: 100%;
  }

  .main-nav__link {
    // запретить попадание в фокус вообще
    display: none;

    text-align: center;
    width: 100%;

    padding-top: 23px;
    padding-bottom: 19px;

    border-bottom: 1px solid $open-menu-dark-border;
    border-top: 1px solid $open-menu-light-border;

    font-size: 18px; //добавить переменную
    line-height: 32px;
    color: #fff;
    text-decoration: none;

    &--active {
      color: gray;
      background-color: $open-menu-opened;
    }
  }

  // main-nav__link для touch

  .noHover .main-nav__link:active {
    color: $pink-muted;
  }

  // main-nav__link для mouse

  .hasHover .main-nav__link:hover {
    color: $pink;
  }

  .hasHover .main-nav__link:active {
    color: $pink-muted;
  }

  .hasHover .main-nav__link--active:hover {
    color: gray;
  }

  /* Отдельные мобильные стили для логотипа и кнопки */
}
@media ($main-nav-mobile) {
  .main-nav__logo {
    position: relative;
    z-index: 50;

    display: block;
    margin-left: 20px;
    padding-top: 22px;
    height: 68px;
    width: 140px;

    color: $pink; //удалить. это для текста
    text-decoration: none;
    font-size: 0;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .main-nav__toggler-label {
    height: 68px;
    width: 100px;
  }

  .main-nav__toggler-indicator {
    top: 15px;
    right: 30px;
  }
}

/* Отдельные планшетные стили для логотипа и кнопки, плюс пара изменений nav */

@media ($main-nav-tablet) {
  .main-nav {
    min-height: 110px;
  }

  .main-nav__panel {
    height: 110px;
  }

  .main-nav__logo {
    position: relative;
    z-index: 50;

    display: block;
    margin-left: 20px;
    padding-top: 25px;
    height: 110px;
    width: 160px;

    color: $pink; //удалить. это для текста
    text-decoration: none;
    font-size: 0;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .main-nav__toggler-label {
    height: 110px;
    width: 140px;
  }

  .main-nav__toggler-indicator {
    top: 35px;
    right: 50px;
  }
}

/* Забота о носимых устройствах в альбомной ориентации:
   сужение меню по вертикали и меню "сеткой" */

@media (orientation: landscape) and (max-width: ( $tablet-desktop-breakpoint--nav - 1 )) {
  .main-nav__item {
    display: inline-block;
    width: 50%;
    margin-left: -0px;

    border-right: 1px solid $open-menu-dark-border;
    border-left: 1px solid $open-menu-light-border;
  }
  /*
  .main-nav__logo {
    display: block;
    margin-left: 20px;
    min-height: 68px;
    width: 150px;

    text-decoration: none;
  }*/
}

/* Полноразмерная версия */
// Flexbox

@media ($main-nav-desktop) {
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav__logo {
    display: block;
    margin-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;

    width: 160px;

    //! Проблема
    min-height: 110px;

    color: $pink; //удалить? это для текста
    text-decoration: none;
    font-size: 0;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .main-nav__toggler-label,
  .main-nav__toggler-element,
  .main-nav__panel {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    @include ul-reset;

    width: 72%;
  }

  .main-nav__item {
    flex-shrink: 0;
    flex-grow: 1;
  }

  .main-nav__link {
    display: block;

    height: auto; //100%;

    padding-top: 35px;
    padding-bottom: 35px; // навскидку

    //минимальное ограничение, чтобы не слипались
    padding-left: 15px;
    padding-right: 15px;

    text-align: center;

    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-decoration: none;

    & span {
      position: relative; // для псевдо-подчеркивания
    }

    // Подчеркивание активного элемента меню
    &--active {
      cursor: default;

      & span::after {
        position: absolute;
        content: "";
        bottom: -14px;
        left: 0;

        height: 0.1em;
        width: 100%;

        background: #fff;
      }
    }
  }

  // main-nav__link для touch-экранов

  .noHover .main-nav__link:active {
    color: $pink;
  }

  .noHover .main-nav__link--active:active {
    color: $white-muted;
  }

  // main-nav__link для mouse

  .hasHover .main-nav__link:hover {
    color: $pink;
  }

  .hasHover .main-nav__link--active:hover {
    color: #fff;
  }

  .hasHover .main-nav__link:active {
    color: $white-muted;
  }

  .hasHover .main-nav__link--active:active {
    color: $white-muted;
  }
}

/* Широкий экран, увеличенный шрифт */

@media ($big-desktop-version) {
  .main-nav__link {
    font-size: 1.5vw;
    line-height: 1.84vw;

    font-size: calc(0.5rem + 0.84vw); //1.5vw;
    line-height: calc(1.2rem + 0.9vw); //2.3vw;
  }

  .main-nav__logo {
    width: calc(40px + 10vw);
    max-width: 400px;
  }
}

/* Максимальный экран */

@media ($max-desktop-version) {
  .main-nav__link {
    font-size: 25px;
    line-height: 36.5px;
  }
}

// заплатки для IE
.MS .main-nav__logo svg {
  max-height: 53px;
}

@media ($big-desktop-version) {
  .MS .main-nav__logo svg {
    max-height: 65px;
  }
}
