@import "../variables.scss",
  "../scaffolding.scss",
  "../mixins.scss",
  "../fonts.scss";

//    NAVIGATION logo + toggle + menu
//
// Breakpoints: стандартные, но переход на полное меню начинается раньше, поскольку пунктов меню пока мало(!) - при увеличении количества пунктов дольше оставлять в свернутом состоянии
// В планшетной версии меняется только логотип и высота меню.

$tablet-desktop-breakpoint--nav: $tablet-desktop-breakpoint - 220px; // отклонение от стандартного брейкпоинта 160

$main-nav-mobile: $mobile-version;
$main-nav-tablet: "min-width: " + $mobile-tablet-breakpoint +
  ") and (max-width: " + ($tablet-desktop-breakpoint--nav - 1);
$main-nav-desktop: "min-width: " + $tablet-desktop-breakpoint--nav;

/* Мобильная и планшетная версии меню */
// только блоки

@media ($main-nav-mobile), ($main-nav-tablet) {
  .main-nav {
    min-height: 68px;
    position: relative;

    // Вспомогательный элемент для анимации, из-за него выезжает список.
    &::before {
      content: "";
      position: absolute;
      top: 0;
      height: 68px;
      width: 100%;
      background-color: transparent;
      z-index: 20;
    }

    // При открытии

    &--opened {
      background-color: $open-menu-color; //нельзя удалять
      transition: background-color 0.2s;

      &::before {
        background-color: $open-menu-color;
        transition: background-color 0.2s;
      }

      // Анимация выезжания сверху
      & .main-nav__list {
        display: block;
        margin-top: 0;
        transition: margin-top 0.3s, background-color 0.3s;
      }
    }
  }

  // Общие стили. Особые размеры и позиционирование далее.
  .main-nav__toggle {
    font-size: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;

    position: absolute;
    z-index: 50;

    // Бургер
    & span {
      position: absolute;
      right: 20px;

      width: 50px;
      height: 4px;
      background-color: #fff;
      box-shadow: 0 10px 0 0 #fff, 0 -10px 0 0 #fff;
    }

    // Крестик
    &--opened span::before,
    &--opened span::after {
      content: "";
      position: absolute;

      width: 3px;
      height: 34px;

      transform: rotate(45deg);

      background-color: #fff;
      visibility: visible;
      z-index: 10;
    }

    &--opened span::after {
      transform: rotate(-45deg);
    }

    //Визуально скрыли бургер, оставив его в DOM
    &--opened span {
      visibility: hidden;
    }

    /*
    &:hover span {
        background-color: $pink;
        box-shadow:
          0 10px 0 0 $pink,
          0 -10px 0 0 $pink;

      &::before,
      &::after {
        background-color: $pink;
      }

    }

    &:active span {
        opacity: 0.3;
    }

    */

    // Стили кнопки без JS, по умолчанию
    &--no-js {
      display: none;
    }
  }

  // active .main-nav__toggle устройств с сенсорным экраном
  // и hover для курсорных

  :global .noHover :local .main-nav__toggle:active :global span,
  :global .hasHover :local .main-nav__toggle:hover :global span {
    background-color: $pink;
    box-shadow: 0 10px 0 0 $pink, 0 -10px 0 0 $pink;

    &::before,
    &::after {
      background-color: $pink;
    }
  }

  // active .main-nav__toggle для устройств с курсором

  :global .hasHover :local .main-nav__toggle:active :global span {
    opacity: 0.3;
  }

  .main-nav__list {
    display: block;

    width: 100%;
    @include ul-reset;

    border-top: 1px solid $open-menu-dark-border;

    // В состоянии открытия меню не видно, оно сверху (анимация выезжания сверху)
    margin-top: -800px;

    z-index: 10; //
  }

  .main-nav__item {
    display: block;
    width: 100%;
  }

  .main-nav__link {
    display: block;
    text-align: center;
    width: 100%;

    padding-top: 23px;
    padding-bottom: 19px;

    border-bottom: 1px solid $open-menu-dark-border;
    border-top: 1px solid $open-menu-light-border;

    font-size: 18px; //добавить переменную
    line-height: 32px;
    color: #fff;
    text-decoration: none;

    /*

    &:hover {
      color: $pink;
    }

    &:active {
      color: $pink-muted;
    }

    */

    &--active {
      color: gray;
      background-color: $open-menu-opened;

      /*
      &:hover {
        color: gray;
      }
      
      &:active {
        color: gray;
      }

      */
    }
  }

  // main-nav__link для touch

  :global .noHover :local .main-nav__link:active {
    color: $pink-muted;
  }

  // main-nav__link для mouse

  :global .hasHover :local .main-nav__link:hover {
    color: $pink;
  }

  :global .hasHover :local .main-nav__link:active {
    color: $pink-muted;
  }

  :global .hasHover :local .main-nav__link--active:hover {
    color: gray;
  }
}

/* Отдельные мобильные стили для логотипа и кнопки */

@media ($main-nav-mobile) {
  .main-nav__logo {
    position: relative;
    z-index: 50;

    display: block;
    margin-left: 20px;
    padding-top: 22px;
    height: 68px;
    width: 140px;

    color: $pink; //удалить. это для текста
    text-decoration: none;
    font-size: 0;
  }

  .main-nav__toggle {
    top: 0;
    right: 0;

    height: 68px;
    width: 90px;

    // Мобильное позиционирование кнопки
    &--opened span::before,
    &--opened span::after {
      top: -15px;
      right: 20px; // Примерно
    }
  }
}

/* Отдельные планшетные стили для логотипа и кнопки, плюс пара изменений nav */

@media ($main-nav-tablet) {
  .main-nav {
    min-height: 110px;

    &::before {
      height: 110px;
    }
  }

  .main-nav__logo {
    position: relative;
    z-index: 50;

    display: block;
    margin-left: 20px;
    padding-top: 25px;
    height: 110px;
    width: 160px;

    color: $pink; //удалить. это для текста
    text-decoration: none;
    font-size: 0;
  }

  .main-nav__toggle {
    top: 0;
    right: 0;

    display: block;
    height: 110px;
    width: 150px;

    // Планшетное позиционирование кнопки
    & span {
      right: 55px;
    }

    &--opened span::before,
    &--opened span::after {
      top: -17px;
      right: 35px; // Примерно
    }
  }
}

/* Забота о носимых устройствах в альбомной ориентации:
   сужение меню по вертикали и меню "сеткой" */

@media (orientation: landscape) and (max-width: ( $tablet-desktop-breakpoint--nav - 1 )) {
  .main-nav__item {
    display: inline-block;
    width: 50%;
    margin-left: -4px;
  }

  .main-nav__logo {
    display: block;
    margin-left: 20px;
    min-height: 68px;
    width: 150px;

    text-decoration: none;
  }

  .main-nav__toggle {
    top: 0;
    right: 0;

    //height: 68px;
    //width: 110px;
  }
}

/* Полноразмерная версия */
// Flexbox

@media ($main-nav-desktop) {
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav__logo {
    display: block;
    margin-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;

    width: 160px;

    //! Проблема
    min-height: 110px;

    color: $pink; //удалить? это для текста
    text-decoration: none;
    font-size: 0;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    @include ul-reset;

    width: 72%;
  }

  .main-nav__item {
    flex-shrink: 0;
    flex-grow: 1;
  }

  .main-nav__link {
    display: block;

    height: auto; //100%;

    padding-top: 35px;
    padding-bottom: 35px; // навскидку

    //минимальное ограничение, чтобы не слипались
    padding-left: 15px;
    padding-right: 15px;

    text-align: center;

    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-decoration: none;

    /*
    &:hover {
      color: $pink;
    }

    &:active {
      color: $muted;
    }
    */

    & span {
      position: relative; // для псевдо-подчеркивания
    }

    // Подчеркивание активного элемента меню
    &--active {
      cursor: default;

      & span::after {
        position: absolute;
        content: "";
        bottom: -14px;
        left: 0;

        height: 0.1em;
        width: 100%;

        background: #fff;
      }
    }

    /*
    &--active {
      
      &:hover {
        color: #fff;
      }
      
      &:active {
        color: $muted;
      }
      
    }
    */
  }

  // main-nav__link для touch-экранов

  :global .noHover :local .main-nav__link:active {
    color: $pink;
  }

  :global .noHover :local .main-nav__link--active:active {
    color: $white-muted;
  }

  // main-nav__link для mouse

  :global .hasHover :local .main-nav__link:hover {
    color: $pink;
  }

  :global .hasHover :local .main-nav__link--active:hover {
    color: #fff;
  }

  :global .hasHover :local .main-nav__link:active {
    color: $white-muted;
  }

  :global .hasHover :local .main-nav__link--active:active {
    color: $white-muted;
  }
}

/* Широкий экран, увеличенный шрифт */

@media ($big-desktop-version) {
  .main-nav__link {
    font-size: 1.5vw;
    line-height: 1.84vw;

    font-size: calc(0.5rem + 0.84vw); //1.5vw;
    line-height: calc(1.2rem + 0.9vw); //2.3vw;
  }

  .main-nav__logo {
    width: calc(40px + 10vw);
    max-width: 400px;
  }
}

/* Максимальный экран */

@media ($max-desktop-version) {
  .main-nav__link {
    font-size: 25px;
    line-height: 36.5px;
  }
}
