@import "../variables.scss";

// На флексах, посему универсальный

.page-footer {
	margin: 0;
	padding: 0;
	width: 100%;

	background-color: #fff;

	@media ($tablet-version) {
		padding-top: 20px;
	}

	@media ($desktop-version) {
		padding-top: 30px;
		padding-bottom: 10px;
	}
}

.page-footer__inner {
	width: 100%;
	margin: 0;
	padding: 30px 20px;

	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.page-footer__logo {
	display: block;
	width: 180px;
	height: 60px;

	margin: 0 20px 25px;
}

.page-footer__social {
	display: flex;
	flex-direction: row;
	justify-content: center;

	margin: 10px 20px 25px;
}

.page-footer__social-item {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0 6px;
	padding-left: 2px;

	text-align: center;
	font-size: 0;
	width: 50px;
	height: 50px;

	fill: $pink;

	border: 3px solid $middle-gray;
	border-radius: 50%;
}

:global .noHover :local .page-footer__social-item:active,
:global .hasHover :local .page-footer__social-item:hover {
	border-color: #000;
}

:global .hasHover :local .page-footer__social-item:active {
	opacity: 0.3;
}

.page-footer__copyright {
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0 0 25px;
	width: 180px;

	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}

.page-footer__copyright-link {
	font-size: 0;
	fill: $pink;

	padding-top: 10px;
	margin-left: 15px;
}

:global .noHover :local .page-footer__copyright:active svg,
:global .hasHover :local .page-footer__copyright:hover svg {
	fill: #000;
}

:global .hasHover :local .page-footer__copyright:active svg {
	fill: $black-muted;
}
