// Переписанные стили Slick-theme. Это ж надо так писать

// Точки

// не работает
#root .slick-dots {
    bottom: -40px;
}

.enable-focus #root {
    & .slick-dots button:focus {
        box-shadow: none;
        &::before {
            box-shadow: 0 0 3px 3px $pink;
        }
    }
    & .slick-prev:focus::before,
    & .slick-next:focus::before {
        border-color: $pink;
    }
}

#root .slick-slide {
    height: auto;
}

#root .slick-dots li button::before {
    width: 5px;
    height: 5px;

    border-radius: 50%;

    content: "";
    padding: 4px;

    opacity: 1;
    background-color: rgba(0, 0, 0, 0.25);
    background-clip: padding-box;
    border: 3px solid transparent;
}

#root .slick-dots li.slick-active button::before {
    opacity: 1;
    background-color: transparent;
    border: 3px solid black;
}

// улучшение фида при фокусе

// Стрелки
// width и height не правятся стилями, а устанавливаются из кода slick в зависимости от размера шрифта

#root .slick-prev,
#root .slick-next {
    z-index: 10;
    top: 20%;
    outline: none;

    // Скорее определяет область нажатия. Должно быть больше, чем размер шрифта, иначе вызывает непонятный баг на планшете
    width: 40px;
    height: 40px;
}

#root .slick-prev {
    left: -40px;
    // вращать только псевдоэлементы нельзя
    transform: rotate(-45deg);
}

#root .slick-next {
    right: -40px;
    transform: rotate(135deg);
}

/*
#root .slick-prev:hover,
#root .slick-next:hover {
}
*/

#root .slick-prev::before,
#root .slick-next::before {
    outline: none;
    // Отвечает за размер стрелки
    font-size: 30px;

    color: transparent;
    border-top: 3px solid rgba(0, 0, 0, 0.5);
    border-left: 3px solid rgba(0, 0, 0, 0.5);
}
