// @import "../../variables.scss";

// За ширины отвечает селектор features__effect
// Водопадное переопределение из-за минимальных различий

.effect {
  position: relative;
  display: block;
  min-height: 380px;
  padding: 95px 0 80px 310px;

  text-align: left;

  background-color: #fff;
  background-image: url("/img/svg/clock.svg");
  background-position: 0 60px;
  background-repeat: no-repeat;
  background-size: 240px;
}

.effect__title {
  display: block;
  margin: 0 20px 10px 0;
  padding-right: 100px;

  text-align: left;

  font-size: 32px;
  line-height: 36px;
  font-weight: 700px;
}

.effect__description {
  display: block;
  margin: 10px 20px 10px 0;

  max-width: 530px;

  text-align: left;

  font-size: 14px;
  line-height: 24px;
}

.effect__link {
  display: block;
  margin: 10px 20px 10px 0;

  font-size: 14px;
  line-height: 24px;

  color: $pink;
  text-decoration: underline;
}

// active для touch, hover для mouse

.noHover .effect__link:active,
.hasHover .effect__link:hover {
  text-decoration: none;
}

// тольок active для mouse

.hasHover .effect__link:active {
  color: $dark-gray;
}

// Разные отступы и размер часов

@media ($desktop-version) {
  .effect {
    padding: 30px 0 0;

    background: none;
    background-image: url("/img/svg/clock.svg");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position-x: 17%;
  }

  .effect__inner {
    width: 75%;

    // отступ с местом для фона
    padding: 30px 0 90px 33%;
    margin: 0 auto;
  }

  .effect__description {
    margin-top: 30px;
    margin-bottom: 30px;

    font-size: 16px;
    line-height: 28px;
  }
}

@media ($big-desktop-1) {
  .effect__inner {
    zoom: 115%;

    -moz-transform: scale(1.15);
    -ms-zoom: 0;

    backface-visibility: hidden;

    transform-origin: center 80%;
  }

  .effect {
    background-size: 340px;
  }
}

@media ($big-desktop-2) {
  .effect__inner {
    zoom: 125%;
    -ms-zoom: 0;

    -moz-transform: scale(1.25);
    transform-origin: center 80%;
  }

  .effect {
    background-size: 360px;
  }
}
