// @import "../../mixins.scss", "../../variables.scss";

// Из-за фона, выходящего за пределы центровщика и привязанного к контенту, в мобильной и планшетной версиях отступы от края вьюпорта вместо inner реализованы тремя outer с паддингами

// MOBILE

@media ($mobile-version) {
  .features {
    display: block;
    background-color: #fff;
  }

  .features__title-outer {
    width: auto;
    margin: 0;
    padding: 40px 20px 0;
  }

  .promo-title {
    display: block;
    margin: 0 auto 30px;

    text-align: center;

    font-size: 24px;
    line-height: 29px;
  }

  .features__main-outer {
    position: relative;
    width: auto;
    padding: 85px 20px 0;

    background-color: $light-gray;

    // Скошенный переход фона
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 32px;

      display: block;
      content: "";

      z-index: 0;

      background-image: linear-gradient(
        to right bottom,
        #fff,
        #fff 50%,
        $light-gray 51%,
        $light-gray
      );
    }
  }

  .features__list {
    @include ul-reset;
    padding: 0 10px;

    // Изображение айфона с розовым фильтром
    &::after {
      display: block;
      margin: 0 auto;

      content: "";
      background: url("/img/index/features/iphone-screen-mobile@1x.webp") center
        0 no-repeat;
      background: url("/img/index/features/50-iphone-screen-mobile.jpg") center
        0 no-repeat;
      background-size: contain;
      width: 90%;
      height: 400px; //70%; подправить!
      max-height: 400px;

      z-index: 20;
    }
  }

  @media (min-resolution: 1.5dppx) {
    .features__list::after {
      background: url("/img/index/features/iphone-screen-mobile@2x.webp") center
        0 no-repeat;

      background: url("/img/index/features/80-iphone-screen-mobile.jpg") center
        0 no-repeat;
      background-size: 100%;
      width: 90%;
    }
  }

  .features__item {
    text-align: center;
    margin: 0 0 30px;
  }

  .features__item-title {
    padding: 0;
    margin: 0 0 10px;

    font-size: 20px;
    line-height: 22px;
  }

  .features__item-description {
    font-size: 16px;
    line-height: 24px;
  }

  // Описание эффекта отсутствует в мобильной версии
  .features__effect-outer {
    display: none;
  }
}

// TABLET

@media ($tablet-version) {
  .features {
    position: relative;
    display: block;
    background-color: #fff;
    z-index: 10;
  }

  .features__title-outer {
    width: 100%;
    margin: 0;
    padding: 48px 20px 50px;
  }

  .promo-title {
    display: block;
    margin: 0 auto;

    text-align: center;

    font-size: 40px;
    line-height: 48px;

    // Более узкий абзац, "перевернутый треугольник"
    &:last-child {
      width: 450px;
    }
  }

  .features__main-outer {
    position: relative;
    display: block;
    width: 100%;
    padding: 71px 20px 0; //Верхний отступ - "переход" + пространство до первого заголовка

    background-color: $light-gray;

    // Скошенный переход фона
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;

      display: block;
      content: "";

      z-index: 0;

      background-image: linear-gradient(
        to right bottom,
        #fff,
        #fff 50%,
        $light-gray 51%,
        $light-gray
      );
    }
  }

  .features__list {
    @include ul-reset;
    position: relative;

    min-height: 390px; // Чтобы при уплощении блока картинка не вылезала слишком высоко
    padding: 0 0 40px 310px;

    // Изображение айфона с розовым фильтром, привязано к нижней границе
    &::before {
      position: absolute;
      bottom: -10px;
      left: 0;

      display: block;
      content: "";
      width: 268px; //
      height: 485px; //

      background: #bbbbbb
        url("/img/index/features/90-iphone-screen-tablet@1x.webp") center 0
        no-repeat;
      background: url("/img/index/features/iphone-screen-tablet-3@1x.png")
        center 0 no-repeat;

      background-size: contain;

      z-index: 20;
    }
  }

  .features__item {
    text-align: left;
    margin: 0 0 35px;
    max-width: 500px; //

    &:last-child {
      margin-bottom: 0;
    }
  }

  .features__item-title {
    display: block;
    padding: 0;
    margin: 0 0 15px;

    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
  }

  .features__item-description {
    display: block;
    margin: 15px 0 0;
    padding: 0;

    font-size: 16px; //
    line-height: 24px;
  }

  // Отвечает только за боковые отступы от вьюпорта. Реализовано padding из-за наличия фона.
  .features__effect-outer {
    position: relative;

    display: block;
    width: 100%;
    margin: 0;
    padding: 0 20px;

    z-index: 30;
  }
}

// DESKTOP

@media ($desktop-version) {
  .features {
    display: block;
    background-color: #fff;

    //Fix
    //width: $tablet-desktop-breakpoint;
    //margin: 0 auto;
  }

  .features__title-outer {
    width: 100%;
    margin: 0;
    padding: 48px 0 80px; //верхний и нижний отступы сразу
  }

  .promo-title {
    display: block;
    margin: 0 auto;

    text-align: center;

    font-size: 50px;
    line-height: 60px;

    // Более узкий абзац, "перевернутый треугольник"
    &:last-child {
      width: 450px;
    }
  }

  .features__main-outer {
    position: relative;
    display: block;

    padding: 0; //Верхний отступ - "переход" + пространство до первого заголовка

    background-color: $light-gray;

    // Скошенный переход фона
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 88px;

      display: block;
      content: "";

      z-index: 0;

      background-image: linear-gradient(
        to right bottom,
        #fff,
        #fff 50%,
        $light-gray 51%,
        $light-gray
      );
    }
  }

  .features__list {
    @include ul-reset;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: $tablet-desktop-breakpoint;
    margin: 0 auto;
    padding: 0 10px 0;
  }

  .features__item {
    position: relative;
    margin: 0 10px; //1.02%; , возможно, отступы не нужны вообще. Размеры управляются объектами внутри
    flex-grow: 1; //?

    padding-top: 350px; // Отступ для картинок

    min-height: 560px;

    // Изображения айфонов
    &::before {
      content: "";
      position: absolute;
      top: 0;

      // Временный блок. Увеличение картинки будет реализовано с помощью позиционирования фона в центре.
      left: 50%; //
      margin-left: -90px; //
      width: 180px; //
      height: 300px; //

      z-index: 20;
    }

    // Собственно ссылки на изображения
    &:nth-child(1)::before {
      background: #bbbbbb
        url("/img/index/features/90-iphone-screen-tablet@1x.webp") center 0
        no-repeat;
      background: url("/img/index/features/iphone-screen-tablet-3@1x.png")
        center 0 no-repeat;

      background-size: contain;
    }

    &:nth-child(2)::before {
      background: #bbbbbb
        url("/img/index/features/90-iphone-screen-tablet@1x.webp") center 0
        no-repeat;
      background: url("/img/index/features/iphone-screen-tablet-3@1x.png")
        center 0 no-repeat;

      background-size: contain;
    }

    &:nth-child(3)::before {
      background: #bbbbbb
        url("/img/index/features/90-iphone-screen-tablet@1x.webp") center 0
        no-repeat;
      background: url("/img/index/features/iphone-screen-tablet-3@1x.png")
        center 0 no-repeat;

      background-size: contain;
    }
  }

  .features__item-title {
    display: block;
    width: 80%;
    margin: 0 auto 22px;
    padding: 0;

    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
  }

  .features__item-description {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 0;

    text-align: center;
    font-weight: 300; //
    font-size: 18px;
    line-height: 30px;
  }

  // Данные селекторы отвечают только за ширину и боковые отступы от вьюпорта. Реализовано padding из-за наличия фона.
  .features__effect-outer {
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px 0;

    background-color: $light-gray;
  }

  .features__effect {
    width: $tablet-desktop-breakpoint;
    margin: 0 auto;
  }
}

@media ($big-desktop-version) {
  .features__list {
    width: auto;
    margin: 0 #{$stretch-margin};
  }

  .features__effect {
    width: auto;
    margin: 0 #{$stretch-margin};
  }
}

@media ($max-desktop-version) {
  .features__list {
    width: $max-inner-width;
    margin: 0 auto;
  }

  .features__effect {
    width: $max-inner-width;
    margin: 0 auto;
  }
}
