// @import "../../variables.scss";

@media ($mobile-version) {
  .reviews {
    position: relative;

    background-color: #fff;
    padding: 30px 0 100px; // слайдер переходит за "края"

    // Скошенный переход фона
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 25px;

      display: block;
      content: '';

      z-index: 0;

      background-image: linear-gradient(
        to right bottom,
        #fff,
        #fff 50%,
        $light-gray 51%,
        $light-gray
      );
    }
  }

  .reviews__inner {
    margin: 0 auto;
  }

  .reviews__item {
    padding: 0 25px;
    margin: 0;

    text-align: center;
  }

  .reviews__author {
    &-name--top {
      font-weight: bold;
      font-style: normal;

      font-size: 18px;
      line-height: 30px;
    }

    &-name--bottom {
      display: none;
    }

    &-about {
      display: none;
    }
  }

  .reviews__text {
    font-size: 14px;
    line-height: 30px;

    font-weight: 400;

    &::before {
      content: '«';
    }

    &::after {
      content: '»';
    }
  }
}

@media ($tablet-version) {
  .reviews {
    position: relative;

    background-color: #fff;
    padding: 50px 0 105px;

    // Скошенный переход фона
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;

      display: block;
      content: '';

      z-index: 0;

      background-image: linear-gradient(
        to right bottom,
        #fff,
        #fff 50%,
        $light-gray 51%,
        $light-gray
      );
    }
  }

  .reviews__inner {
    margin: 0 auto;
  }

  .reviews__item {
    padding: 0 30px;
    margin: 0 0 30px;

    text-align: center;
  }

  .reviews__author {
    &-name--top {
      display: none;
    }

    &-name--bottom {
      margin: 0 0 20px;
      padding: 0;

      font-weight: bold;
      font-style: normal;

      font-size: 20px;
      line-height: 30px;
    }

    &-about {
      margin: 0;
      padding: 0;

      font-size: 14px;
      font-weight: 300;
    }
  }

  .reviews__text {
    margin-bottom: 35px;

    font-size: 18px;
    line-height: 30px;

    font-weight: 400;

    &::before {
      content: '«';
    }

    &::after {
      content: '»';
    }
  }
}

@media ($desktop-version) {
  .reviews {
    position: relative;

    background-color: #fff;
    background-image: url('/img/svg/quotes.svg');
    background-repeat: no-repeat;
    background-position: center 75px;

    padding: 185px 20px 125px;

    // Скошенный переход фона
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 85px;

      display: block;
      content: '';

      z-index: 0;

      background-image: linear-gradient(
        to right bottom,
        #fff,
        #fff 50%,
        $light-gray 51%,
        $light-gray
      );
    }
  }

  .reviews__inner {
    //transform: scale(1.3);
    margin: 0 auto;
    padding: 0 45px;
    width: ($tablet-desktop-breakpoint - (20 * 2));
  }

  .reviews__item {
    padding: 0 100px;
    margin: 0;

    text-align: center;
  }

  .reviews__author {
    &-name--top {
      display: none;
    }

    &-name--bottom {
      margin: 0 0 20px;
      padding: 0;

      font-weight: bold;
      font-style: normal;

      font-size: 24px;
      line-height: 30px;
    }

    &-about {
      margin: 0;
      padding: 0;

      font-size: 16px;
      font-weight: 300;
    }
  }

  .reviews__text {
    margin: 0 0 35px 0;

    font-size: 18px;
    line-height: 30px;

    font-weight: 400;
  }
}
