// Здесь размещены стили, относящиеся к стилизации svg-логотипа


.logo {
  fill: #fff;//

  & .stars {
    fill: $pink;
    transition: fill 0.2s;
  }

  // Стили при наведении и нажатии на область ссылки
  &:hover svg {
    fill: $pink;

    & .stars {
      fill: #fff;
    }
  }

  &:active svg {
    fill: #fff;
    fill-opacity: 0.3;
  }

  & img {
    height: 42px;
  }

  // Отображение на разных вьюпортах

  @media ($main-nav-mobile) {
    .desktop-logo,
    .tablet-logo {
      display: none;
    }
  }

  @media ($main-nav-tablet) {
    .desktop-logo,
    .mobile-logo {
      display: none;
    }
  }

  @media ($main-nav-desktop) {
    .mobile-logo,
    .tablet-logo {
      display: none;
    }
  }
}

@media ($main-nav-mobile) {

}


// СТИЛИ ДЛЯ ИНЛАЙНА


@media ($main-nav-mobile) {
  .logo {
    &__svg {
      fill: #fff;
    }

    &__letter--tablet-desktop {
      display: none;
    }

    &__glasses {
      display: none;
    }

    &__star {
      display: none;
    }

    &:hover .logo__svg {
      fill: $pink;
    }

    &:active .logo__svg {
      fill: #fff;
      fill-opacity: 0.3;
    }
  }
}

@media ($main-nav-tablet) {
  .logo {
    &__svg {
      fill: #fff;
    }


    &__glasses--desktop {
      display: none;
    }

    &__star {
      display: none;
    }

    &__letter--mobile {
      display: none;
    }

    &:hover .logo__svg {
      fill: $pink;
    }

    &:active .logo__svg {
      fill: #fff;
      fill-opacity: 0.3;
    }
  }
}



@media ($main-nav-desktop) {
  .logo {

    &__svg {
      fill: #fff;
    }

    &__letter--mobile {
      display: none;
    }

    &__glasses--tablet-desktop {
      display: none;
    }

    &__glasses--tablet {
      display: none;
    }

    // Стили при наведении

    &:hover .logo__svg {
      fill: $pink;

      & .logo__star {
        fill: #fff;
      }
    }

    &:active .logo__svg {
      fill: #fff;
      fill-opacity: 0.3;
    }


  }

}

@media ($big-desktop-version) {
  .logo {
    &__svg {
      width: 100%;
    }
  }
}
