@media ($mobile-version) {
  .page-title__outer {
    display: block;
    position: relative;
    
    margin: 0;
    padding: 0 20px; 
    
    text-align: center;
    
    background-color: $background-color;
    background-image: url("../img/index/50-bg-back-mobile@1x.jpg");
    background-position: 45% 10%;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .page-title {
    display: block;
    
    width: auto;
    margin: 0 auto;
    padding: 95px 30px 80px;
    
    font-size: 26px;
    line-height: 40px;
    
    color: #fff;
    font-weight: 300;
  }
}

@media ($tablet-version) {
  .page-title__outer {
    display: block;
    position: relative;
    
    margin: 0;
    padding: 0 20px; 
    
    text-align: center;

    background-color: $background-color;
    background-image: url("../img/index/bg-back-tablet@1x.jpg");
    background-position: 45% 0;
    background-size: cover;
  }
  
  .page-title {
    display: block;
    
    width: auto;
    margin: 0 auto;
    padding: 180px 70px 125px;
    
    color: #fff;
    font-weight: 300;
            
    font-size: 44px;
    line-height: 64px;
  }
}

@media ($desktop-version) {
  .page-title__outer {
    display: block;
    position: relative;
    
    margin: 0;
    padding: 0 20px; 
    
    text-align: center;

    background-color: $background-color;
    background-image: url("../img/index/bg-back-desktop.jpg");
    background-position: center 0;
    background-size: cover;
  }
  
  .page-title {
    display: block;
    
    width: auto;
    margin: 0 auto;
    padding: 180px 100px 125px;
    
    color: #fff;
    font-weight: 300;    
        
    font-size: 44px;
    line-height: 64px;
  }
}

@media ($big-desktop-version) {
  .page-title {
    font-size: calc( 20px + 2vw );
    line-height: calc( 34px + 2.5vw );
  }
}

@media ($max-desktop-version) {
  .page-title {
    font-size: 58.5px;
    line-height: 82px;
  }
}