@media ($mobile-version) {
  .note:after {
    content: "MOBILE";
    position: fixed;
    left: -25px;
    top: 200px;

    width: 80px;
    height: 30px;


    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #de2222;

    background-color: rgba(255, 255, 255, 0.6);

    z-index: 40;

    transform: rotate(-90deg);
  }
}

@media ($tablet-version) {
  .note:after {
    content: "TABLET";
    position: fixed;
    left: -25px;
    top: 200px;

    width: 80px;
    height: 30px;

    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: green;

    background-color: rgba(255, 255, 255, 0.6);

    z-index: 40;

    transform: rotate(-90deg);
  }
}

@media (min-width: $tablet-desktop-breakpoint) and ( max-width: ( $big-desktop-breakpoint - 1 ) ) {
  .note:after {
    content: "DESKTOP";
    position: fixed;
    left: -25px;
    top: 200px;

    width: 80px;
    height: 30px;

    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: yellow;

    background-color: rgba(255, 255, 255, 0.3);

    z-index: 40;

    transform: rotate(-90deg);
  }
}

@media ($big-desktop-version) {
  .note:after {
    content: "BIG DESKTOP";
    position: fixed;
    left: -45px;
    top: 200px;

    width: 120px;
    height: 30px;

    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: blueviolet;

    background-color: rgba(255, 255, 255, 0.6);

    z-index: 40;

    transform: rotate(-90deg);
  }
}

@media ($max-desktop-version) {
  .note:after {
    content: "MAX DESKTOP";
    position: fixed;
    left: -45px;
    top: 200px;

    width: 120px;
    height: 30px;

    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: deepskyblue;

    background-color: rgba(255, 255, 255, 0.3);

    z-index: 40;

    transform: rotate(-90deg);
  }
}
