
$basic-font-size: 18px;

//Цветовая схема

$header-color: rgba(0, 0, 0, 0.3);

$background-color: #2a3747;//#2b3b4b;

$open-menu-color: #283645;
$open-menu-opened: darken($open-menu-color, 3%);
$open-menu-dark-border: darken($open-menu-color, 10%);
$open-menu-light-border: desaturate(lighten($open-menu-color, 10%), 10%);

$pink: #d22856;
$muted: rgba (0, 0, 0, 0.3);
$pink-muted: rgba($pink, 0.3);

$muted: rgba(255, 255, 255, 0.3);

$light-gray: #f2f2f2;


// в readme: !! Данный сайт имеет сложную систему брейкпоинтов (не то чтобы очень нужно, скорее целях демонстрации умения в точные расчеты):
//   Помимо мобильной и планшетной версии разработаны
//   [1] фиксированная версия desktop с центрующимся макетом
//   [2] резиновая версия big desktop с тянущимся на всю ширину макетом
//   [3] вновь центрующаяся версия max-desktop с центрующимся макетом для корректного отображения в случае огромных разрешений
//   Размеры рассчитаны так, что переход с одной версии на другую не заметен для глаза (элементы дизайна не прыгают)

//Базовые брейкпоинты

$mobile-tablet-breakpoint: 660px;
$tablet-desktop-breakpoint: 980px;

$big-desktop-breakpoint: 1200px;
$max-desktop: 1920px;


//Стандартные диапазоны на основе брейкпоинтов. Из max-width всегда вычитается единица для избегания перекрытий

$mobile-version: "max-width: " + ( $mobile-tablet-breakpoint - 1 );
$tablet-version: "min-width: " + $mobile-tablet-breakpoint + ") and (max-width: " + ( $tablet-desktop-breakpoint - 1 );
$desktop-version: "min-width: " + $tablet-desktop-breakpoint;
// В версии для широких экранов и превышающих максимальный диапазон немногочисленный набор свойств просто перекрывают предыдущий ("водопадный" способ). После критического разрешения помимо сетки переписываются только свойства, содержащие vw (почти всегда шрифты).
$big-desktop-version: "min-width: " + $big-desktop-breakpoint;
$max-desktop-version: "min-width: " + ( $max-desktop + 1 );


//  BREAKPOINTS for main-nav:
// стандартные, но переход на полное меню начинается раньше, поскольку пунктов меню пока мало(!) - при увеличении количества пунктов дольше оставлять в свернутом состоянии

$tablet-desktop-breakpoint--nav: $tablet-desktop-breakpoint - 220px; // отклонение от стандартного брейкпоинта (изначально 160)

$main-nav-mobile: $mobile-version;
$main-nav-tablet: "min-width: " + $mobile-tablet-breakpoint + ") and (max-width: " + ( $tablet-desktop-breakpoint--nav - 1 );
$main-nav-desktop: "min-width: " + $tablet-desktop-breakpoint--nav;




// Расчет процента боковых отступов на широких экранах для эффекта плавного перехода на резину.
// Из размера окна media вычитается 16px на полосу прокрутки. (viewport с полосой не соответствует размеру body)!

$stretch-margin-prc: ( ( ( $big-desktop-breakpoint - $tablet-desktop-breakpoint ) - 16 ) * 100 ) / ( ( $big-desktop-breakpoint - 16 ) * 2 ); //промежуточная переменная

$stretch-margin: $stretch-margin-prc + "%"; //готовая строка. Использовать в виде #{$stretch-margin}

// Расчет максимальной ширины ценрализуемого окна на превышающих ширинах, рассчитывается, разумеется, от предыдущего показателя для плавности
$max-inner-width: ( ( $max-desktop - 16 ) - ( ( $max-desktop - 16 ) * ( ( $stretch-margin-prc * 2 ) / 100 ) ) );


